extends base

block content
  main.main
    .forgot-password-form
      h2.heading-secondary Password reset
      h2.form__group Please enter the email address that you used to sign up so we can send you an email with your username and a link to reset your password
      form.form.form--password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.forgot-password
          button.btn Send