.btn,
.btn:link,
.btn:visited {
  color: var(--color-dark-1);
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  background-color: var(--color-secondary);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  @include respond(phone) {
    padding: 0.75rem 1.5rem;
  }
}

.btn--small,
.btn--small:link,
.btn--small:visited {
  background-color: var(--color-secondary);
  color: black;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;

  @include respond(phone) {
    padding: 1rem 2rem;
  }

  &:hover {
    background-color: var(--color-secondary);
  }
}

.btn-text:link,
.btn-text:visited {
  color: black;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 3px;
  transition: all 0.2s;

  &:hover {
    background-color: rgb(197, 197, 197);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    outline: 3px solid lightblue;
    outline-offset: 3px;
  }
}

.btn--send {
  background-color: transparent;
  height: 100%;
  border: none;
  border-left: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
