:root {
  --color-primary-black: rgb(35, 35, 35);
  --color-primary-white: rgb(240, 240, 240);
  --color-background-header: rgba(255, 233, 186);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // 1 rem = 10px , 10px/16px = 62.5
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}
