:root {
  --color-dark-1: rgba(1, 1, 1, 255);
  --color-dark-2: rgba(26, 26, 26, 255);
  --color-dark-3: rgba(50, 50, 50, 255);
  --color-white-1: rgba(255, 255, 255, 255);
  --color-white-2: rgba(240, 240, 240, 255);
  --color-gray-1: rgba(215, 218, 220, 255);
  --color-border: rgba(43, 45, 45, 255);
  --color-secondary: rgba(245, 69, 3, 255);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // 1 rem = 10px , 10px/16px = 62.5
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}
