.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 95vh;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: flex;

  &__menu {
    flex: 32rem 0 0;
    background-color: lightblue;
    padding: 4rem 0;
  }

  &__content {
    flex: 1;
    padding: 7rem 0;
  }

  &__form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;
  }
}

.side-nav {
  list-style: none;

  & > li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    transition: all 0.3s;

    &:hover {
      border-left: 4px solid black !important;
    }

    & > a:link,
    a:visited {
      padding: 1rem 4rem;
      display: flex;
      align-items: center;
      color: black;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.3s;
    }

    & > a:hover,
    a:active {
      transform: translateX(3px);
    }
  }

  &__icon {
    margin-right: 2rem;
  }
}

.admin-nav {
  margin-top: 5.5rem;

  &__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid currentColor;
  }
}

.line {
  margin: 5rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.user__profile {
  background-color: rgb(146, 146, 146);
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 5rem;

  &-left {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &-photo {
    border-radius: 5px;
    max-height: 128px;
  }

  &-data {
    font-size: 1.9rem;

    & > p {
      font-size: 1.5rem;
    }
  }
}

.add-friends,
.remove-friends {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
}

.no-posts-message {
  font-size: 3rem;
  text-align: center;
  margin-top: 8rem;
}
